# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases

# Next.js build output
/.next/
/out/
/build

# Vercel project linkage & caches
.vercel

# Environment variables & secrets
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.key

# TypeScript build info
*.tsbuildinfo

# Debug & runtime logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS metadata
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE & Editor caches
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
